*{
	background:black;
	color:white;
}

h1{color:#d4ac0d; 

}

h2{color:green; 

}

h3{color:#CC3300; 

}

h4{color:pink; 

}

h5{color:#003300; 

}

h6{
	color:red;
}

a{
	color:purple;
}

p{
	color:#33FF99;
}